.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: unset;
  padding: 0.5rem 1rem;
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  border-radius: 0.5rem;
  cursor: pointer;

  &.active {
    color: rgb(var(--background-rgb));
    background-color: rgb(var(--foreground-rgb));
  }

  &::before {
    content: none;
  }
}
