.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(var(--background-rgb), 0.5);
  backdrop-filter: blur(10px);
  z-index: 2;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sm);
    background-color: rgb(var(--nav-rgb));
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    .logo {
      display: inline-block;
      width: var(--lg);
      height: var(--lg);

      img {
        border-radius: 50%;
      }
    }
  }

  @media (min-width: 912px) {
    .container {
      background-color: unset;
      box-shadow: none;
    }
  }
}
